<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/errorTemplate}">
<head lang="en">
	<meta charset="UTF-8">
	<title>权限不足</title>
</head>
<body>
<div class="layui-text" style="font-size: 20px;" layout:fragment="errorCode">
	<h1>
		<span class="layui-anim layui-anim-loop layui-anim-">4</span>
		<span class="layui-anim layui-anim-loop layui-anim-rotate">0</span>
		<span class="layui-anim layui-anim-loop layui-anim-">3</span>
	</h1>
	您当前的操作可能没有权限，请联系管理员授权，或重新登录.
</div>
</body>
</html>