<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/errorTemplate}">
<head lang="en">
    <meta charset="UTF-8">
    <title>页面没找到</title>
</head>
<body>
<div layout:fragment="errorCode">
    <div class="layui-text">
        <h1>
            <span class="layui-anim layui-anim-loop layui-anim-">4</span>
            <span class="layui-anim layui-anim-loop layui-anim-rotate">0</span>
            <span class="layui-anim layui-anim-loop layui-anim-">4</span>
        </h1>
    </div>
</div>
</body>
</html>